/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: rgba(255, 255, 255, 0.846);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

/* Heading */
h1 {
  text-transform: uppercase;
  color: #ae83d6;
  text-align: center;
  font-size: 70px;
  margin: 50px;
  letter-spacing: 8px;
}

/*The Quiz container div and question text*/
.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 700px;
  overflow: hidden;
  border-radius: 5px;
  background-color: pink;
  padding: 20px;
}

#question {
  font-size: 50px;
  text-align: center;
  letter-spacing: 3px;
  margin: 40px 0;
}

/*The Quiz buttons*/
.button-container {
  display: flex;
  justify-content: center;
}

.button {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 4px;
  background-color: rgb(174, 131, 214);
  padding: 20px;
  outline: none;
  border-radius: 3px;
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.next-button {
  color: white;
  background-color: rgba(218, 162, 235, 0.875);
}

.start-button {
  margin: 0 auto;
}

.button-grid {
  display: block;
  margin: 20px 0;
}

.button:hover {
  background-color: rgb(202, 167, 235);
  transition: 0.5s;
}

.button.correct {
  background-color: #a6e775;
}

.button.incorrect {
  background-color: #ff7f7f;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The score text in the bottom of the quiz */
#score {
  text-align: center;
  font-size: 30px;
}

/*Hides quiz-box and next-button on landing page.*/
.hide {
  display: none;
}

/* Style for score text displaying when quiz is finished */
.end-quiz {
  text-align: center;
}

/* Social media icons in the footer */
.socialmedia {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  max-width: 150px;
}

.socialmedia,
li a:hover {
  color: rgb(202, 167, 235);
}

ul {
  list-style-type: none;
}

a {
  font-size: 40px;
  color: #ae83d6;
  text-decoration: none;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}